*
{
    font-family: "Raleway";
    font-size: small;
}
@font-face 
{
    font-family: "Raleway";
    src: url(../fonts/Raleway-Bold.woff);
    src: url(../fonts/Raleway-Bold.ttf) format("truetype");
    src: url(../fonts/Raleway-Bold.otf) format("opentype");
    src: url(../fonts/Raleway-Italic.woff);
    src: url(../fonts/Raleway-Italic.ttf) format("truetype");
    src: url(../fonts/Raleway-Italic.otf) format("opentype");
    src: url(../fonts/Raleway-Regular.woff);
    src: url(../fonts/Raleway-Regular.ttf) format("truetype");
    src: url(../fonts/Raleway-Regular.otf) format("opentype");
}
.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
.lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
body
{
  margin: 0 auto;
  padding: 0 auto;
}
#container
{
    margin: 0 auto;
    padding: 0;
    max-width: 1160px;
    height: 100vh;
    max-height: 100vh;
    width: 1160px;
    background-color: #782221;
}

/* HEADER */

header
{
  height: 20rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
img
{
  border-radius: 50%;
  box-shadow: 6px 6px 25px grey;
  cursor: zoom-in;
  margin-top: 4rem;
}
h1
{
   color: white;
   margin-top: 1rem;
   font-family: "Lato";
}
h3
{
    color: white;
    margin-top: 1rem;
    padding-bottom: 2rem;
    font-family: "Lato";
}

/* ADDRESS */

address
{
    background-color: #2c1d27;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}
a
{
  color: white;
  text-decoration:none
}
address a:hover
{
    text-decoration-line: underline;
}

/* MAIN */

main
{
  display: flex;
  height: 40rem;
}
aside
{
  display: flex;
  flex-direction: column;
  width: 20rem;
  background-color: #782221;
  color: white;
  text-indent: 2rem;
}
aside h4
{
  color: black;
  margin-right: 1.5rem;
  background-color: #dbc2a4;
  font-family: ".lato-bold "
  
}
blockquote
{
  text-indent: 10%;
  color: white;
}
.droite
{
  background-color: white;
  width: 70rem;
  display: flex;
  flex-direction: column;
  border-right: solid;
}
.droite h4
{
  margin-left: 2rem;
  margin-right: 1rem;
  background-color: #dbc2a4;
  font-family: ".lato-bold"
}
.droite h4:hover
{
  border-left: #782221;
}
.droite p
{
  margin-left: 2rem;
  margin-right: 1rem;
}
.droite li
{
  margin-left: 2rem;
  margin-right: 1rem;
}

/* FOOTER */

footer
{
  display: flex;
  justify-content: center;
}